defaultSettings:
  defaultDataPath: "{{ longhorn_data_dir }}"
preUpgradeChecker:
  jobEnabled: false
service:
  ui:
    type: "{{ longhorn_ui_service_type }}"
{% if longhorn_ui_service_type | lower == 'nodeport' %}
    nodePort: {{ longhorn_ui_node_port }}
{% endif %}
ingress:
  enabled: {{ 'true' if longhorn_ingress_enabled | bool else 'false' }}
  ingressClassName: "{{ longhorn_ingress_class_name }}"
{% if longhorn_ingress_annotations %}
  annotations:
{% for key, value in longhorn_ingress_annotations.items() %}
    {{ key }}: "{{ value }}"
{% endfor %}
{% endif %}
  host: "{{ longhorn_ingress_host }}"
  paths:
    - path: "{{ longhorn_ingress_path }}"
      pathType: "{{ longhorn_ingress_path_type }}"
  tls:
{% if longhorn_ingress_tls_enabled | bool %}
    - hosts:
        - "{{ longhorn_ingress_host }}"
      secretName: "{{ longhorn_ingress_tls_secret }}"
{% else %}
    []
{% endif %}
