ports:
  web:
    port: 8000
    expose:
      default: true
    exposedPort: 80
    protocol: TCP
  websecure:
    port: 8443
    expose:
      default: true
    exposedPort: 443
    protocol: TCP
  traefik:
    port: 9000
    expose:
      default: false

service:
  enabled: true
  type: NodePort
  nodePorts:
    web: 32080
    websecure: 32443

ingressRoute:
  dashboard:
    enabled: false
