ports:
  web:
    port: 8000
    expose:
      default: true
    exposedPort: 80
    nodePort: 32080
  websecure:
    port: 8443
    expose:
      default: true
    exposedPort: 443
    nodePort: 32443
  dashboard:
    expose:
      default: false

service:
  enabled: true
  type: "NodePort"

ingressRoute:
  dashboard:
    enabled: false
