---
- name: Ensure KubeRay Helm repo configured
  kubernetes.core.helm_repository:
    name: kuberay
    repo_url: https://ray-project.github.io/kuberay-helm/
    state: present
    force_update: true
    kubeconfig: "{{ k8s_auth_kubeconfig }}"

- name: Install/upgrade KubeRay operator
  kubernetes.core.helm:
    name: kuberay-operator
    chart_ref: kuberay/kuberay-operator
    release_namespace: kuberay
    create_namespace: true
    kubeconfig: "{{ k8s_auth_kubeconfig }}"
    wait: true
    wait_timeout: "600"
    state: present
