---
- name: Ensure default namespace exists (usually present)
  kubernetes.core.k8s:
    kubeconfig: /etc/kubernetes/admin.conf
    state: present
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: default

- name: Ensure models PVC (Longhorn RWX) exists
  kubernetes.core.k8s:
    kubeconfig: /etc/kubernetes/admin.conf
    state: present
    definition:
      apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: triton-models
        namespace: default
      spec:
        accessModes: [ "ReadWriteMany" ]
        resources:
          requests:
            storage: 2000Gi
        storageClassName: longhorn

- name: Apply Triton Service manifest
  kubernetes.core.k8s:
    kubeconfig: /etc/kubernetes/admin.conf
    state: present
    src: "{{ role_path }}/files/triton-svc.yaml"
    apply: yes

- name: Apply Triton StatefulSet template
  ansible.builtin.template:
    src: triton-ss.yaml.j2
    dest: /tmp/triton-ss.yaml
    mode: '0644'

- name: Apply Triton StatefulSet manifest
  kubernetes.core.k8s:
    kubeconfig: /etc/kubernetes/admin.conf
    state: present
    src: /tmp/triton-ss.yaml
    apply: yes

- name: Wait for Triton pods to be Ready
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Pod
    namespace: default
    label_selectors:
      - app=triton-llm
    kubeconfig: /etc/kubernetes/admin.conf
    wait: true
    wait_sleep: 10
    wait_timeout: 1200
    wait_condition:
      type: Ready
      status: "True"
