apiVersion: v1
kind: Service
metadata:
  name: vllm
  namespace: default
  labels:
    app: vllm
spec:
  selector:
    app: vllm
    ray.io/node-type: head
  ports:
    - name: http
      port: 8000
      targetPort: 8000
    - name: metrics
      port: 8080
      targetPort: 8080
  type: ClusterIP
